*.o
*.so
*.mod
*.x
*.a
fort.*
Makefile
*.wfc*
*.out*
*.restart
*.xyz
*.xsf
*.xml
*.fire
*.save
*.dmp*
log.lammps
mincounter
sadcounter
random_seed.dat
*.tar
scratch
.directory
build
*.x.dSYM
*.log
INPUT_TMP*

artn_gitinfo.h
docs/_build